In [3]:
#Q.1
"""MongoDB is a popular open-source NoSQL database management system that belongs to the class of non-relational or NoSQL databases. It is designed to
handle large amounts of unstructured or semi-structured data """

"""Non-relational databases, also known as NoSQL databases, depart from the
traditional relational database model. Unlike SQL databases, which use
 a structured and tabularformat for data storage (tables with rows and columns),
 non-relational databases embrace a variety of data models."""

 """MongoDB might be preferred over SQL databases in various scenarios"""
 """ 1.schema Flexiblity
     2.Documented-orinted storage
     3.larhe volume of data"""

IndentationError: ignored

In [4]:
#Q.2
"""MongoDB is a popular NoSQL database management system that offers
 a range of features designed to handle diverse data types and provide
 scalability. Here are some key features of MongoDB:
 1.Document-Oriented:
MongoDB stores data in BSON (Binary JSON) documents, which are JSON-like,
hierarchical structures.
2.Dynamic Schema:
MongoDB uses a flexible schema, allowing documents in the same collection
 to have different fields and data types.

 3.Indexing:
MongoDB supports various types of indexes, including compound indexes and geospatial indexes,
to improve query performance."""

'MongoDB is a popular NoSQL database management system that offers\n a range of features designed to handle diverse data types and provide \n scalability. Here are some key features of MongoDB:\n 1.Document-Oriented:\nMongoDB stores data in BSON (Binary JSON) documents, which are JSON-like,\nhierarchical structures.\n2.Dynamic Schema:\nMongoDB uses a flexible schema, allowing documents in the same collection\n to have different fields and data types.\n\n 3.Indexing:\nMongoDB supports various types of indexes, including compound indexes and geospatial indexes, \nto improve query performance.'

In [7]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 6.3 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 10.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.1

In [38]:
#Q.3
import pymongo
client=pymongo.MongoClient("mongodb+srv://paras:paras17011072@cluster0.4lupwfs.mongodb.net/?retryWrites=true&w=majority")
db=client.test
db=client['student']
collection=db["class"]
data={"name":"sonu","class":'10',}
collection.insert_one(data)

InsertOneResult(ObjectId('65786ef78053d7cdf3ebc95d'), acknowledged=True)

In [28]:
#q.4
data={"name":"monu","class" :'11'}
collection.insert_one(data)
data1=[
    {"name":"monu","class" :'11'},
    {"name":"tonu","class" :'10'},
    {"name":"lonu","class" :'9'},
    {"name":"champu","class":'8'},

    ]
collection.insert_many(data1)
for i in collection.find():
  print(i)

collection.find_one({'name':'champu'})

{'_id': ObjectId('657862df8053d7cdf3ebc941'), 'name': 'sonu', 'class': '10'}
{'_id': ObjectId('657864328053d7cdf3ebc942'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('657866208053d7cdf3ebc943'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('657866208053d7cdf3ebc944'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('657866208053d7cdf3ebc945'), 'name': 'tonu', 'class': '10'}
{'_id': ObjectId('657866208053d7cdf3ebc946'), 'name': 'lonu', 'class': '9'}
{'_id': ObjectId('657866208053d7cdf3ebc947'), 'name': 'champu', 'class': '8'}
{'_id': ObjectId('657866888053d7cdf3ebc948'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('657866888053d7cdf3ebc949'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('657866888053d7cdf3ebc94a'), 'name': 'tonu', 'class': '10'}
{'_id': ObjectId('657866888053d7cdf3ebc94b'), 'name': 'lonu', 'class': '9'}
{'_id': ObjectId('657866888053d7cdf3ebc94c'), 'name': 'champu', 'class': '8'}
{'_id': ObjectId('6578670b8053d7cdf3ebc94d'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('6578670b8053d7cdf3ebc94e'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('6578670b8053d7cdf3ebc94f'), 'name': 'tonu', 'class': '10'}
{'_id': ObjectId('6578670b8053d7cdf3ebc950'), 'name': 'lonu', 'class': '9'}
{'_id': ObjectId('6578670b8053d7cdf3ebc951'), 'name': 'champu', 'class': '8'}
{'_id': ObjectId('65786bea8053d7cdf3ebc952'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('65786bea8053d7cdf3ebc953'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('65786bea8053d7cdf3ebc954'), 'name': 'tonu', 'class': '10'}
{'_id': ObjectId('65786bea8053d7cdf3ebc955'), 'name': 'lonu', 'class': '9'}
{'_id': ObjectId('65786bea8053d7cdf3ebc956'), 'name': 'champu', 'class': '8'}
{'_id': ObjectId('65786c0b8053d7cdf3ebc957'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('65786c0b8053d7cdf3ebc958'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('65786c0b8053d7cdf3ebc959'), 'name': 'tonu', 'class': '10'}
{'_id': ObjectId('65786c0b8053d7cdf3ebc95a'), 'name': 'lonu', 'class': '9'}
{'_id': ObjectId('65786c0b8053d7cdf3ebc95b'), 'name': 'champu', 'class': '8'}

{'_id': ObjectId('657866208053d7cdf3ebc947'), 'name': 'champu', 'class': '8'}

In [29]:
#Q.5
"""In MongoDB, the find() method is used to query a collection and retrieve documents that
 match specified criteria. The basic syntax of the find() method is as
 follows:
       db.collection_name.find(query, projection)

The query parameter is a document that specifies the conditions
that documents must meet to be included in the result set.
It follows the MongoDB query syntax, using key-value pairs to
represent field conditions.
Example:db.users.find({ class: 8 })


"""
#sample code
for i in collection.find({'class':'10'}):
  print(i)

{'_id': ObjectId('657862df8053d7cdf3ebc941'), 'name': 'sonu', 'class': '10'}
{'_id': ObjectId('657866208053d7cdf3ebc945'), 'name': 'tonu', 'class': '10'}
{'_id': ObjectId('657866888053d7cdf3ebc94a'), 'name': 'tonu', 'class': '10'}
{'_id': ObjectId('6578670b8053d7cdf3ebc94f'), 'name': 'tonu', 'class': '10'}
{'_id': ObjectId('65786bea8053d7cdf3ebc954'), 'name': 'tonu', 'class': '10'}
{'_id': ObjectId('65786c0b8053d7cdf3ebc959'), 'name': 'tonu', 'class': '10'}

In [46]:
#q.6
"""The sort() method in MongoDB is used to specify the order in which
the documents should be returned. It takes a document as an argument,
 where each field specifies the order for the corresponding field in
 the result set.
The values of the fields in the document can be either 1 for
ascending order or -1 for descending order. """
#syntax: db.collection_name.find(query).sort(sorting_document)
for i in collection.find().sort({'class':pymongo.ASCENDING}):
  print(i)

{'_id': ObjectId('657862df8053d7cdf3ebc941'), 'name': 'sonu', 'class': '10'}
{'_id': ObjectId('657866208053d7cdf3ebc945'), 'name': 'tonu', 'class': '10'}
{'_id': ObjectId('657866888053d7cdf3ebc94a'), 'name': 'tonu', 'class': '10'}
{'_id': ObjectId('6578670b8053d7cdf3ebc94f'), 'name': 'tonu', 'class': '10'}
{'_id': ObjectId('65786bea8053d7cdf3ebc954'), 'name': 'tonu', 'class': '10'}
{'_id': ObjectId('65786c0b8053d7cdf3ebc959'), 'name': 'tonu', 'class': '10'}
{'_id': ObjectId('65786ef78053d7cdf3ebc95d'), 'name': 'sonu', 'class': '10'}
{'_id': ObjectId('657864328053d7cdf3ebc942'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('657866208053d7cdf3ebc943'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('657866208053d7cdf3ebc944'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('657866888053d7cdf3ebc948'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('657866888053d7cdf3ebc949'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('6578670b8053d7cdf3ebc94d'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('6578670b8053d7cdf3ebc94e'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('65786bea8053d7cdf3ebc952'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('65786bea8053d7cdf3ebc953'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('65786c0b8053d7cdf3ebc957'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('65786c0b8053d7cdf3ebc958'), 'name': 'monu', 'class': '11'}
{'_id': ObjectId('657866208053d7cdf3ebc947'), 'name': 'champu', 'class': '8'}
{'_id': ObjectId('657866888053d7cdf3ebc94c'), 'name': 'champu', 'class': '8'}
{'_id': ObjectId('6578670b8053d7cdf3ebc951'), 'name': 'champu', 'class': '8'}
{'_id': ObjectId('65786bea8053d7cdf3ebc956'), 'name': 'champu', 'class': '8'}
{'_id': ObjectId('65786c0b8053d7cdf3ebc95b'), 'name': 'champu', 'class': '8'}
{'_id': ObjectId('657866208053d7cdf3ebc946'), 'name': 'lonu', 'class': '9'}
{'_id': ObjectId('657866888053d7cdf3ebc94b'), 'name': 'lonu', 'class': '9'}
{'_id': ObjectId('6578670b8053d7cdf3ebc950'), 'name': 'lonu', 'class': '9'}
{'_id': ObjectId('65786bea8053d7cdf3ebc955'), 'name': 'lonu', 'class': '9'}
{'_id': ObjectId('65786c0b8053d7cdf3ebc95a'), 'name': 'lonu', 'class': '9'}

In [48]:
#Q.7
"""delete_one() Method:
Purpose: Used to delete a single document that matches a specified
filter"""

"""delete_many() Method:
Purpose: Used to delete multiple documents that match a specified filter"""

"""drop() Method:
Purpose: Used to delete an entire collection."""

'drop() Method:\nPurpose: Used to delete an entire collection.'