In [ ]:
#Q1.
""" def key word is use to create function"""
def odd_num():
  result=[num for num in range(1,25) if num%2==1 ]
  return result

In [ ]:
odd_num()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [ ]:
#Q2.
""" *args and*kwargs are use to pass dynamic function.we can pass any number of function inside function"""
def test(*args):
  return args

In [ ]:
test(2,4,6)

(2, 4, 6)

In [ ]:
def test(**kwargs):
  return kwargs

In [ ]:
test()

{}

In [ ]:
#q3.
""" iterator in python is allow to iterate all collection of data in list,tuple and dictnories."""
"""iter function use to initilize the iterator object and next()use for iteration."""
list=[2,4,6,20,12,14,16,18,20]
s1=iter(list)
for list in range(5):
   result=next(s1)
   print (result)

2
4
6
20
12

In [ ]:
# Q.4 """ A Python generator function allows you to declare a function that behaves like an iterator"""
"""yield keword control the flow of generator function"""
#.example of generator function
def fib(n):
  a,b=0,1
  count=0
  while count<n:
     yield a
     a,b=b,a+b
     count+=1
for i in fib(10):
  print(i)

0
1
1
2
3
5
8
13
21
34

In [ ]:
#q.5
def is_prime(num):

    if num < 2:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

def prime_generator():

    num = 2
    count = 0

    while count < 20:
        if is_prime(num):
            yield num
            count += 1
        num += 1


prime_numbers = prime_generator()

for _ in range(20):
    print(next(prime_numbers))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

In [ ]:
#Q6.
n=int(input("enter the number of fibonacci sequence"))
a,b=0,1
count=0
while count<n:
   print(a)
   a,b=b,a+b
   count+=1

enter the number of fibonacci sequence10
0
1
1
2
3
5
8
13
21
34

In [ ]:
#Q.7
s=['pwskill']
for i in s:
  print(list(i))

['p', 'w', 's', 'k', 'i', 'l', 'l']

In [ ]:
#Q.8
def is_palindrome(n):
  orignal_number=n
  reverse=0
  while n>0:
    q=n%10
    reverse=reverse*10+q
    n=n//10
  return orignal_number==reverse
number=int(input('enter the number:'))
if is_palindrome(number):
  print("the given number is palindrome")
else:
  print("the given number is not a palindrome")

enter the number:121
the given number is palindrome

In [ ]:
#q.9
l=list(range(1,100))
for i in l:
  if i%2==1:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99