In [1]:
#Q.1
import pandas as pd


data = (4, 8, 15, 16, 23, 42)
df = pd.Series(data)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Q.2
l=list(range(0,10))
series=pd.Series(l)
print(series)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [3]:
#Q.3
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [4]:
#Q.4
"""a DataFrame is a two-dimensional, tabular data structure that is designed to store and manipulate
   heterogeneous data. It is similar to a spreadsheet or SQL table,where data is organized in rows and columns."""

"""Series is a one-dimensional array-like object that can hold any data type. It is essentially a single
  column of a DataFrame. A DataFrame can be thought of as a collection of Series objects, where each Series
  represents a column."""
 #examples of series
 """0    25
    1    30
    2    27
Name: Age, dtype: int64"""
#example of datframe
"""   Name   Gender  Age
    0  Alice  Female  25
    1  Bob    Male    30
    2  Claire Female  27
"""

IndentationError: unexpected indent (3070669468.py, line 9)

In [5]:
#Q.6
""" Data Frame and series are mutable in nature as we as easily manipulate data
    but Panel is not mutable in nature"""

' Data Frame and series are mutable in nature as we as easily manipulate data\n    but Panel is not mutable in nature'

In [6]:
#Q.7
import pandas as pd
col_A=(1,2,3)
col_B=('a','b','c')
series_A=pd.Series(col_A)
series_B=pd.Series(col_B)
data=[series_A,series_B]
df=pd.DataFrame(data)
print(df)

   0  1  2
0  1  2  3
1  a  b  c